@import './_value.scss';
@import './_bootstrap.scss';
@import './_search-bar.scss';
@import './chart';

body {
    font-size: $body-fontsize;
    background-color: $dark;
}

header {
    padding: 10px;
}

main {
    padding: 1.5rem 3rem;
}

div {
    color: $white;
}