@import './_value.scss';
@import './_bootstrap.scss';
@import './mixin';
@import './utilities';
@import './chart';
@import './_search-bar.scss';
@import './stock-info';

html {
    font-size: $body-fontsize;
}

body {
    font-size: $body-fontsize;
    background-color: $gray-900;
}

header {
    padding: 15px 3rem;
    text-align: right;
    background-color: $dark;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 1.5rem 3rem;
}

div {
    color: $white;
}